<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sansha World</title>

    <style>
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        header {
            width: 100%;
            background: yellow;
            position: fixed;
            top: 0;
            /*height: 60px !important;*/
            /*opacity: .8;*/
            /*background: rgba(128, 173, 223, 0.9);*/
            background: rgba(18, 47, 72, 0.71);
          }

        .content {
            position: absolute;
            height: 100%;
            margin-left: 0px;
            width: 100%;
            padding: 63px 0 30px 0;
            margin: 0 auto 0 auto;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -o-box-sizing: border-box;
            -ms-box-sizing: border-box;
            box-sizing: border-box;
            padding-left: 0px !important;
        }

        footer {
            width: 100%;
            background: yellow;
            position: fixed;
            bottom: 0;
            height: 30px;
            padding: 10px;
            background: rgba(128, 173, 223, 0.9);
        }

        .btnToggle {
          float: left;
          background-color: rgba(95, 160, 207, 0.55);
          border-color: rgba(83, 167, 161, 0.65);
          /* width: 5%; */
          font-size: 35px;
          z-index: 1000;
          cursor: pointer;
          border: 1px solid #93988A;
          margin-top: 12px;
        }
    </style>
    <link rel="stylesheet" href="styles/all.css">
    <script src="libs/angular.min.js"></script>
    <script src="js/fetch-survey-details.js"></script>
    <script src="http://ironsummitmedia.github.io/startbootstrap-simple-sidebar/js/jquery.js"></script>
    <script src="libs/bootstrap/bootstrap/js/bootstrap.min.js"></script>


</head>

<body ng-controller="myCtrl">

    <body>

        <header class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
          <span id="menu-toggle" class="glyphicon glyphicon-align-justify btnToggle" ng-hide="toggleHide"></span>
          <h2 style="text-align:center;color: #17EFEA;">{{surveys[index].questionTitle}}</h2>
        </header>

        <div class="content container-fluid">
            <div id="wrapper" style="height: 100%;position:fixed;width:100%" class="conatainer-fluid">
                <!-- Sidebar -->
                <div id="sidebar-wrapper" class="col-xs-8 col-md-4 col-sm-4 col-lg-4">
                    <div id="first">
                        <ul class="sidebar-nav" ng-hide="hideSidebarItem">
                            <li class="sidebar-brand" style="color:#F5F7FA">
                                Choose Category
                            </li>
                            <ul ng-repeat="cat in surveys[index].category" class="list-unstyled" ng-hide="checkSubCategoryValueIsNull.length">
                                <li class="category">
                                    <a ng-click="expand=!expand">
                                        <span class="glyphicon" ng-class="{'glyphicon-plus': !expand, 'glyphicon-minus': expand}">
                                          {{cat.categoryName}}
                                        </span>
                                    </a>
                                </li>
                                <ul ng-repeat="subcategory in cat.categoryItemDto" class="list-unstyled">
                                    <li ng-show="expand">
                                        <label class="label-style-change">
                                            <input type="checkbox" ng-click="toggleSelectionCheckbox(surveys[index], subcategory)" ng-model="subcategory.selectValue" ng-disabled="disableCheckbox">
                                            <span class="subcategory-item" ng-disabled="disableCheckbox">{{subcategory.subCategoryName}}</span>
                                        </label>
                                    </li>
                                </ul>
                            </ul>
                            <ul ng-repeat="cat in surveys[index].category" ng-show="checkSubCategoryValueIsNull.length">
                                <label class="label-style-change">
                                    <input type="checkbox" name="subCategoryName[{{$index}}]" value="{{subcategory.subCategoryName}}" ng-click="toggleSelectionCheckbox(surveys[index], subcategory)">
                                    <span class="subcategory-item">{{cat.categoryName}}</span>
                                </label>
                            </ul>

                        </ul>
                    </div>
                    <div id="second">
                        <button ng-click="submitSelection()" class="btnSubmit" ng-hide="hideSubmitButton" ng-disabled="!selections[index].length">Submit</button>
                        <button ng-click="EditSelection()" class="btn btn-primary btnSubmit" ng-show="hideEditButton">Edit</button>
                    </div>
                </div>
                <!-- /#sidebar-wrapper -->

                <!-- Page Content -->
                <div id="page-content-wrapper" class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <div class="container-fluid">
                        <div class="row">
                            <div>
                              <!-- show radio button when we click on submit button & when we have value -->
                              <div id="content-wrapper" ng-show="value">
                                <span class="text-center col-lg-offset-1 col-lg-8 col-md-12 col-sm-12 col-xs-12">
                                  <h2 style="margin: 7% 0 7% 0%;"><span class="label">{{value[inc].categoryName}}</span></h2>
                                </span>
                                <div class="row radioSelection">
                                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 btnPrev">
                                    <button class="btn btn-lg btnNext" ng-hide="inc == 0" ng-click="prev()"><i class="glyphicon glyphicon-chevron-left"></i></button>
                                  </div>
                                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <form name="myForm" style="margin-left:14%;">
                                      <div ng-repeat="item in surveys[index].optionCategoryItemDto" style="margin-bottom:2%;">
                                        <label class="text-center" style="cursor:pointer">
                                          <input type="radio" name="radio" id="{{item.itemId}}" ng-value="item.itemId" ng-model="selections[index][inc].answer" required> {{item.itemName}}
                                        </label>
                                      </div>
                                      <br/>
                                      <br/>
                                    </form>
                                  </div>
                                  <div class="col-lg-3 col-lg-offset-1 col-md-offset-1 col-md-3 col-sm-4 col-xs-4">
                                      <button class="btn btn-lg btnNext" ng-hide="selections[index].length == inc + 1" ng-disabled="myForm.radio.$error.required" ng-click="next()"><i class="glyphicon glyphicon-chevron-right"></i></button>
                                      <button class="btn btn-lg btnNext" ng-show="selections[index].length == inc + 1" ng-disabled="myForm.radio.$error.required" ng-click="nextQuestion()"><i class="glyphicon glyphicon-forward"></i></button>
                                  </div>
                                </div>
                                <div class="text-center col-lg-offset-3 col-lg-4 col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-4">
                                  <textarea type="text" id="text"  class="form-control txtArea" ng-model="selections[index][inc].comment" placeholder="Write comment..."></textarea>
                                </div>
                              </div>

                              <div ng-show="viewQuestionTrue" class="row">
                                <span class="text-center col-lg-offset-1 col-lg-8 col-md-12 col-sm-12 col-xs-12">
                                  <h2 style="margin: 7% 0 7% 0%;"><span class="label">{{isQuestionTrue[inc].categoryName}}</span></h2>
                                </span>
                                <div class="row radioSelection">
                                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 btnPrev">
                                      <button class="btn btn-lg btnNext" ng-hide="inc == 0" ng-click="prev()">
                                        <i class="glyphicon glyphicon-chevron-left"></i>
                                      </button>
                                      <button class="btn btn-lg btnNext" ng-show="inc == 0" ng-click="previousQuestion()">
                                        <i class="glyphicon glyphicon-backward"></i>
                                      </button>
                                  </div>
                                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <form name="myForm" style="margin-left:14%;">
                                      <div ng-repeat="item in surveys[index].optionCategoryItemDto" style="margin-bottom:2%;">
                                        <label class="text-center" style="cursor:pointer">
                                            <input type="radio" name="radio" id="{{item.itemId}}" ng-model="selections[index][inc].answer"
                                            ng-value="item.itemId" required> {{item.itemName}}
                                        </label>
                                      </div>
                                      <br/>
                                      <br/>
                                    </form>
                                  </div>
                                  <div class="col-lg-3 col-lg-offset-1 col-md-offset-1 col-md-3 col-sm-4 col-xs-4">
                                    <button class="btn btn-lg btnNext" ng-hide="isQuestionTrue.length == inc + 1" ng-disabled="myForm.radio.$error.required" ng-click="next()">
                                      <i class="glyphicon glyphicon-chevron-right"></i>
                                    </button>
                                    <button class="btn btn-lg btnNext" ng-show="isQuestionTrue.length == inc + 1" ng-disabled="myForm.radio.$error.required"
                                            ng-click="nextQuestion()">
                                      <i class="glyphicon glyphicon-forward"></i>
                                    </button>
                                  </div>
                                </div>
                                <div class="text-center col-lg-offset-3 col-lg-4 col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-4">
                                  <textarea type="text" id="text" class="form-control txtArea" ng-model="selections[index][inc].comment" placeholder="Write comment..."></textarea>
                                </div>
                              </div>


                            </div>
                        </div>
                    </div>
                </div>
                <!-- /#page-content-wrapper -->

            </div>
            <!-- /#wrapper -->

        </div>

        <!-- <footer>
          Designed and built with all the love in the world by NxtLifeTechnolgy. Maintained by the core team with the help of our contributors.
          Code licensed MIT, docs CC BY 3.0.
        </footer> -->

        <script>
          $("#menu-toggle").click(function(e) {
              e.preventDefault();
              $("#wrapper").toggleClass("toggled");
          });
        </script>

    </body>

</html>
