body {
  font-style: normal;
  font-size: 15px;
}

.label-style-change {
  font-weight: 100 !important;
}

.btnSubmit {
  width: 95%;
  margin-left: 6px;
  margin-top: 690px;
}

.btnPrev,
.btnNext {
  margin-top:  50px;
}

.radioSelection {
 margin-top: 60px;
}

.category {
  cursor: pointer;
}

.subcategory-item{
  color: #E3A65D;
}

.isQuestionTrueRadioBtn {
  margin-left: 160px;
}