#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    /*margin-top: 100px;*/
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 265px;
  /*width: 0;
  height: 84%;*/
  /*top: 11%;*/
  border-bottom: 2px solid #F10909;
  margin-left: -250px;
  /* margin-bottom: 10%; */
  overflow-y: auto;
  background: #555;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 0 10px 0 0;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    /*padding: 15px;*/
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 87%;
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar-nav li {
    /*text-indent: 20px;*/
    line-height: 30px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    /*color: #999999;*/
}

/* margin between brand-name and category name*/
.sidebar-nav ul {
  margin-top: 5px;
      background-color: #2B353A;
}

.sidebar-nav li a category {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav ul li a span {
    color: #48cfad;
    font-family: monospace;
    font-size: 18px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: royalblue;
    background: rgba(255,255,255,0.2);
    border-right: 2px solid lawngreen;
    width: 249px;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    /*height: 65px;*/
    font-size: 18px;
    text-align: center;
    line-height: 60px;
    border-bottom: 1px solid lightskyblue;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.toggle {
  margin-top: 7px;
}

/* For PC Screen only */
@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
      width: 250px;
      height: 86%;
      /*margin-top: 3%;*/
    }

    #sidebar-wrapper .btnSidebar {
      width: 266px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        /*padding: 20px;*/
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/* Set Question position*/
.sidebar-nav ul li .subcategory-item:hover{
  cursor: pointer;
}

.sidebar-nav ul ul li label {
  margin-left: 7px;
  font-family: sans-serif;
  font-size: 14px;
  width: 100%;
}

.sidebar-nav ul ul li label:hover {
  background-color: #48cfad;
  cursor: pointer;
  margin-left: 0px;
}
